<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/mainlayout">

<head>
	<title>Objekt</title>
	<link rel="stylesheet" th:href="@{/styles/structure.css}" />
	<script type="text/javascript" th:src="@{/scripts/name-validation.js}"></script>
</head>

<div layout:fragment="content">
	<span class="structure-element-details-techical-description"
			th:text="'Objekt mit ' + ${#lists.size(item.propertyList)} + ' Eigenschaften'"></span>
	<h4 th:text="'Objekt - ' + ${item.name}"></h4>

	<div class="row">
		<div class="col-md-12">
			<form th:action="@{/admin/item/{itemId}(itemId=${item.id})}" th:object="${item}"
					method="POST">
				<div class="row">
					<div class="form-group mb-2 col-md-2">
						<label for"txt_itemId">ID</label>
						<input class="form-control" type="text" id="txt_itemId" th:field="*{id}" readonly />
					</div>
					<div class="form-group mb-2 col-md-5">
						<label for"txt_itemName">Name</label>
						<input class="form-control" type="text" id="txt_itemName" th:field="*{name}" />
					</div>
				</div>
			</form>
		</div>
	</div>
	
</div>

</html>