<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/mainlayout">

<head>
	<title>Firma</title>
	<link rel="stylesheet" th:href="@{/styles/structure.css}" />
	<script type="text/javascript" th:src="@{/scripts/name-validation.js}"></script>
</head>

<div layout:fragment="content">
	<span class="structure-element-details-techical-description"
			th:text="'Firma mit ' + ${#lists.size(company.namespaceList)} + ' Namespaces und ' + ${#lists.size(company.userList)} + ' Benutzer'"></span>
	<h4 th:text="'Firma - ' + ${company.name}"></h4>

	<div class="row">
		<div class="col-md-12">
			<form th:action="@{/company/{companyId}(companyId=${company.id})}" th:object="${company}"
					method="POST">
				<div class="row">
					<div class="form-group mb-2 col-md-2">
						<label for"txt_companyId">ID</label>
						<input class="form-control" type="text" id="txt_companyId" th:field="*{id}" readonly />
					</div>
					<div class="form-group mb-2 col-md-5">
						<label for"txt_companyName">Name</label>
						<input class="form-control" type="text" id="txt_companyName" th:field="*{name}" />
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<h5>Namespaces</h5>
			<form th:action="@{/admin/company/namespace}" th:object="${newNamespace}"
					method="POST">
				<div class="row">					
					<div class="input-group">
						<input class="form-control" type="text" id="txt_namespaceName" th:field="*{name}" />
						<button id="btn_submitNewNamespace" type="submit" class="btn btn-primary">Erstellen</button>
					</div>
				</div>
			</form>
			<ul class="structure-element-list structure-element-small">
				<li th:each="namespace : ${company.namespaceList}">
					<div class="structure-element">
						<span class="structure-element-technical-description" th:text="'Namespace mit ' + ${#lists.size(namespace.itemList)} + ' Objekten'"></span>
						<span class="structure-element-id" th:text="${namespace.id}"></span>
						<span class="structure-element-name">
							<a th:href="@{/admin/namespace/{namespaceId}(namespaceId=${namespace.id})}" th:text="${namespace.name}"></a>
						</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-6">
			<h5>Benutzer einladen</h5>
			<form th:action="@{/admin/company/invitation}" th:object="${newInvitation}"
				method="POST">
				<div class="row">
					<input class="form-control" type="hidden" id="txt_invitationTarget" th:field="*{invitationTarget}" />
					<input class="form-control" type="hidden" id="txt_invitationKey" th:field="*{invitationKey}" />
					<input class="form-control" type="hidden" id="txt_invitationType" th:field="*{invitationType}" />
					
					<div class="input-group">
						<input class="form-control" type="text" id="txt_invitationEmail" th:field="*{email}" />
						<button id="btn_submitNewInvitation" type="submit" class="btn btn-primary">Einladen</button>
					</div>
				</div>
			</form>
			
			<h5>Benutzer</h5>
			<ul class="structure-element-list structure-element-small">
				<li th:each="user : ${company.userList}">
					<div class="structure-element">
						<span class="structure-element-name" th:text="${user.email}"></span>
					</div>
				</li>
			</ul>
				
			<h5>Einladungen</h5>
			<p>Einladungslink kopieren und an die angegebene Email schicken!</p>
			<ul class="structure-element-list structure-element-small">
				<li th:each="invitation : ${invitationList}">
					<div class="structure-element">
						<span class="structure-element-description" th:text="${invitation.invitationType.name}"></span>
						<span class="structure-element-technical-description" th:text="'http://localhost:8089' + @{/invitation(key=${invitation.invitationKey})}"></span>
						<span class="structure-element-name" th:text="${invitation.email}"></span>
					</div>
				</li>
			</ul>
		</div>
	</div>

	
</div>

</html>