<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/mainlayout">

<head>
	<title>Firma</title>
	<link rel="stylesheet" th:href="@{/styles/structure.css}" />
	<script type="text/javascript" th:src="@{/scripts/name-validation.js}"></script>
</head>

<div layout:fragment="content">
	<span class="structure-element-details-techical-description"
			th:text="'Namespace mit ' + ${#lists.size(namespace.itemList)} + ' Objekten'"></span>
	<h4 th:text="'Namspace - ' + ${namespace.name}"></h4>

	<div class="row">
		<div class="col-md-12">
			<form th:action="@{/admin/namespace/{namespaceId}(namespaceId=${namespace.id})}" th:object="${namespace}"
					method="POST">
				<div class="row">
					<div class="form-group mb-2 col-md-2">
						<label for"txt_namespaceId">ID</label>
						<input class="form-control" type="text" id="txt_namespaceId" th:field="*{id}" readonly />
					</div>
					<div class="form-group mb-2 col-md-5">
						<label for"txt_namespaceName">Name</label>
						<input class="form-control" type="text" id="txt_namespaceName" th:field="*{name}" />
					</div>
				</div>
			</form>
		</div>
	</div>
	
</div>

</html>