<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/mainlayout">

<head>
	<title th:text="${wrapper.item.namespace} + ' - ' + ${wrapper.item.name}"></title>
</head>

<div layout:fragment="content">
	<h2 th:text="${wrapper.item.namespace} + ' - ' + ${wrapper.item.name}"></h2>
	<form th:action="@{/data/namespace/{namespaceId}/item/{itemId}(namespaceId=${wrapper.item.namespaceId}, itemId=${wrapper.item.id})}"
			method="POST">
		<div class="row" th:each="record : ${wrapper.recordList}">
			<div class="form-group mb-2 col-md-5">

				<th:block th:if="${record.property.propertyType.name == T(com.jksoft.ezbackend.entities.structure.PropertyType).TEXT.name}">
					<label for="txt_namespaceName" th:text="${record.property.name}"></label>
					<input class="form-control" type="text"
							th:name="'prop-txt-' + ${wrapper.item.namespaceId} + '_' + ${wrapper.item.id} + '_' + ${record.property.id}"
							th:value="${record.value}"/>
				</th:block>

				<th:block th:if="${record.property.propertyType.name == T(com.jksoft.ezbackend.entities.structure.PropertyType).REFERENCE.name}">
					<label for="txt_namespaceName" th:text="${record.property.name}"></label>
					<select class="form-select"
							th:name="'prop-ref-' + ${wrapper.item.namespaceId} + '_' + ${wrapper.item.id} + '_' + ${record.property.id}">
						<option th:each="refWrapper : ${record.referenceList}"
								th:text="${refWrapper.getDisplayName()}"
								th:value="${refWrapper.id}"
								th:selected="${record.reference != null} ? ${refWrapper.id} == ${record.reference.id} : false">
						</option>
					</select>
				</th:block>
				
				<th:block th:if="${record.property.propertyType.name == T(com.jksoft.ezbackend.entities.structure.PropertyType).EMBEDDED.name}">
					<label for="txt_namespaceName" th:text="${record.property.name}"></label>
					<select class="form-select"
							th:name="'prop-emb-' + ${wrapper.item.namespaceId} + '_' + ${wrapper.item.id} + '_' + ${record.property.id}">
						<option th:each="embWrapper : ${record.referenceList}"
								th:text="${embWrapper.getDisplayName()}"
								th:value="${embWrapper.id}"
								th:selected="${record.reference != null} ? ${embWrapper.id} == ${record.reference.id} : false">
						</option>
					</select>
				</th:block>
				
			</div>
		</div>
		<button class="btn btn-primary" type="submit">Speichern</button>
	</form>